$block: 'login';

.#{$block} {
    &__body{
        margin-bottom: 70px;
        h1{
            font-size: 26px;
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            margin-bottom: 26px;
            font-weight: 700;
            text-align: center;
        }
    }

    &__social {
        margin-bottom: 34px;
        
        &__item {
            border: 1px solid #E5E5E5;
            border-radius: 30px;
            padding: 20px 0;
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
            color: black;
            display: inline-block; 

            background-repeat: no-repeat;
            background-size: 18px;
            background-position: 20px;

            &--return {
                background-color: #F5F8FA;
                border:0;
            }

            &--google {
                background-image: url(../assets/logo-google.svg);
            }

            &--facebook {
                background-image: url(../assets/logo-faceboook.svg);
            }

            &:last-child{
               margin-bottom: 0;
            }

            img {
                width: 18px;
                height: 18px;
            }

            span {
                font-weight: 600;
                display: inline-block;
            }
        }
    }

    &-image {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 34px;

        img {
            max-width: 276px;
            width: 100%;
        }
    }

    &__disclaimer {
        font-size: 14px;
        font-weight: 700;
        max-width: 368px;
        color: #8899A6;
        font-family: "Poppins", Arial, Helvetica, sans-serif;

        a {
            color: #FF5678;
            text-decoration: none;
        }
    }

}